# This is a basic workflow to help you get started with Actions

name: terraform_execution

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: hashicorp/terraform:latest
      
    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
